top-navbar
section.section.section-accessibility: .wrapper

    .block.block-breadcrumbs
        a(ui-sref="home").breadcrumb-item Home
        a(ui-sref="accessibility").breadcrumb-item Toegankelijkheidsverklaring
        .breadcrumb-item.active

    .section-title.text-left Toegankelijkheidsverklaring

    .block.block-accessibility
        .block-content.wrapper
            .block-description
                p Onze websites moeten gebruikt kunnen worden door mensen die moeite hebben met de Nederlandse taal en door mensen die niet goed kunnen zien of horen. De websites dienen ook voor mensen zonder beperkingen makkelijk en prettig te gebruiken zijn.
                p Deze toegankelijkheidsverklaring is opgesteld op 24 juli 2019.
            .block-title: h2 Probleem met de toegankelijkheid van één van deze websites?
            .block-description
                p Wilt u uw ervaring of verbeterpunten met ons delen ? Laat het ons dan weten! Stuur een e-mail naar feedback@forus.io.
            
            .block-title: h2 Onze werkwijze om de toegankelijkheid en daarmee uw ervaring beter te maken
            .block-list
                ul
                    li <b>- Automatische toetsen:</b> Onze websites worden regelmatig getoetst met een automatische toetstool.
                    li <b>- Interne controle voor publicatie:</b> In samenwerking met onze opdrachtgevers toetsen wij voor publicatie alle content op toegankelijkheid.
                    li <b>- Periodieke interne controle:</b> Ieder half jaar voeren wij tussentijdse controles uit op de content.
                    li <b>- Publieke code:</b> Onze publieke code maakt externe controle mogelijk. 
                    li <b>- Training werknemers:</b> Ons scrum team heeft een training gevolgd over toegankelijkheid. Daarnaast houdt ons team zich op de hoogte van de laatste ontwikkelingen op het gebied van toegankelijkheid.
            
            .block-description <br>
                p Stichting Forus wil in samenwerking met haar opdrachtgevers zo snel mogelijk voldoen aan de toegankelijkheidsstandaard EN 301 549. Wanneer hieraan is voldaan vindt een externe controle plaats in de vorm van een audit.